<div class="container">
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/scar.jpg" class=" img-responsive card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Scarlett Johansson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/mar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Margot Robbie</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/emma.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Emma Watson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/scar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Scarlett Johansson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/mar.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Margot Robbie </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/gal.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Gal Gadot</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/nat.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Natalie Portman</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/done.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 100%; height: 100%;">
                <img src="assets/images/emma.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Emma Watson</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>