
<div class="jumbotron jumbotron-fluid">
    <div class="container text-center">
      <h1 class="display-5">Academics</h1>
    </div>
  </div>
  <div class="container">
    <p class="text-justify">
        NEPS is one of the most reputed schools in Khushinagar,Uttar Predesh, well known for its high standard of education, as well as for its academic, sports and overall accomplishments. The school is a minority institution, run by the group of esteemed institutes, and has been recognised right from the outset. The staff and management have toiled with a single-minded commitment of  “Virtus in Arduis”, i.e. “Virtue conquers Hardships.” As a result the school has grown to its present dimension, and risen to prominence in the eyes of the people and the education department.
        NEPS is one of the most reputed schools in Khushinagar,Uttar Predesh, well known for its high standard of education, as well as for its academic, sports and overall accomplishments. The school is a minority institution, run by the group of esteemed institutes, and has been recognised right from the outset. The staff and management have toiled with a single-minded commitment of  “Virtus in Arduis”, i.e. “Virtue conquers Hardships.” As a result the school has grown to its present dimension, and risen to prominence in the eyes of the people and the education department.
        NEPS is one of the most reputed schools in Khushinagar,Uttar Predesh, well known for its high standard of education, as well as for its academic, sports and overall accomplishments. The school is a minority institution, run by the group of esteemed institutes, and has been recognised right from the outset. The staff and management have toiled with a single-minded commitment of  “Virtus in Arduis”, i.e. “Virtue conquers Hardships.” As a result the school has grown to its present dimension, and risen to prominence in the eyes of the people and the education department.
    </p>
  </div>